chex==0.1.86
distrax==0.1.5
flax==0.8.4
geometry_msgs==4.2.4
gymnasium==0.29.1
gymnax==0.0.8
jax==0.4.30
matplotlib==3.9.2
nav_msgs==4.2.4
numpy==2.1.2
optax==0.2.3
orbax==0.1.9
pytest==8.3.3
rclpy==3.3.13
scipy==1.14.1
seaborn==0.13.2
sensor_msgs==4.2.4
setuptools==70.1.1
std_msgs==4.2.4
tf2_ros_py==0.25.7
